/*-- scss:defaults --*/
// see: https://quarto.org/docs/output-formats/html-themes.html#sass-variables

// Base colours
$body-bg: #b09f86;
$body-color: black;
$link-color: blue;

// Navbar colours
$navbar-bg: #323131;
$navbar-fg: white;

// Code block colours
$code-block-bg: #e5dfd7;
$code-bg: #d8d0c3; // inline
