/*-- scss:defaults --*/
// see: https://quarto.org/docs/output-formats/html-themes.html#sass-variables

// Base colours
$body-bg: #b09f86;
$body-color: black; // "#323131"
$link-color: blue;

// Navbar colours
$navbar-bg: #323131;
$navbar-fg: white;
